
#include <windows.h>
#include "ciscocrack.h"


IDD_CISCOCRACK DIALOGEX DISCARDABLE  50, 50, 152, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION  APP_TITLE
FONT 8, "MS Sans Serif"
BEGIN
     GROUPBOX        "",-3,3,5,146,60
     LTEXT           "Enter Crypted Password:",IDC_STATIC,9,12,89,9
     EDITTEXT        IDC_CRYPTED_PWD,9,25,133,12,ES_AUTOHSCROLL
     EDITTEXT           "",IDC_CLEAR_PWD,9,47,89,12,ES_READONLY | NOT WS_BORDER // ,WS_EX_STATICEDGE
     // DEFPUSHBUTTON   "OK",IDOK,60,60,40,14
END

IDI_CISCOCRACK       ICON    DISCARDABLE     "ciscocrack.ico"
